@import nib

*
  padding: 0
  margin: 0
  box-sizing: border-box

ul
  li
    list-style none

body
  font-family Helvetica, Arial, Sans-Serif

h1
  font-size: 63px;
  margin-bottom: 45px;
p
  display: block
  font-size: 16px
  color white
  text-align: center

.wrapper
  width: 100%
  height: 100vh
  background-color: #3076c4;
  background: radial-gradient(ellipse at center, rgba(48, 117, 196, 0.88) 0%, rgb(42, 107, 182) 100%);
  //background-image: url(../img/back.png)
  //background-repeat: no-repeat
  //background-position center
  position: relative
  padding: 20px 50px
  z-index: 99999;

.logo
  margin-top: 20px;
  color: white
  display: inline-block;

.pill
  display: block
  width: 90px
  height: 40px
  background-image: url(../img/pill.png)
  background-repeat: no-repeat
  background-position center
  background-size: contain;
  background-color: transparent
  border: none
  transform: rotate(-45deg);
  cursor: pointer;
  &:hover
    background-color: transparent

#bin
#bin2
  display: block
  margin: auto;
  width: 250px
  height: 250px
  background-image: url(../img/sad.png)
  background-repeat: no-repeat
  background-position center
  background-size: contain;
  background-color: transparent
  &.happy
    width: 410px
    background-image: url(../img/happy.png)

.drag
  &-wrap
    display: inline-block;
    width: auto;
    position: absolute;
    top: 180px;

.bottom
  width: 90%
  margin: 50px auto
  &__form
    &-label
      display: flex
      justify-content space-between
      span
        display: inline-block
        color white
        text-align: center;
        //width: 1.5%;
        width: 20px;
        font-size: 20px;
        &.is-active
          color: black
    &-range
      width: 100%
    &-buttons
      width: 70%
      display: flex
      justify-content space-around
      margin: 20px auto;
      margin-top: 50px;

    &-btn
      width: 150px
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      color: #003d84;
      background-color: white;
      padding: 20px;
      font-size: 20px;
      border-radius: 5px;
      margin: 0 5px;
      cursor: pointer
      &:hover
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      &.active
        //background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b0b0b0), to(#f3f3f3));
        box-shadow: inset 0 4px 10px rgba(0,0,0,0.7);
        text-shadow: 0 -1px 1px #ebebeb;

/*RANGE*/
.range-labels {
  display: flex;
  justify-content: space-between;
}
.range-labels li {
  /*font-size: 14px;*/
  //list-style: none;
  //display: inline-block;
  //color: #fff;
  //text-align: center;
  //width: 30px;
  //font-size: 20px;
  //cursor: pointer;
  //padding: 10px

  list-style: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 35px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  line-height: 1;
}
.range-labels li.active {
  //color: black;
  //padding: 10px
  background-color: rgba(255, 0, 0, 0.6)
  //opacity .8
  border-radius 5px
  border: 1px solid darkred
}

.disable {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: transparent;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 30px 0;
  width: 100%;
  background-color: transparent
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: lightgrey;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  //box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  //border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: white;
  background-color: transparent
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
  //display: block
  background-image url(../img/thumb.png)
  background-repeat no-repeat
  background-position left center
  background-size contain
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: lightgrey;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: lightgrey;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  //box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  //border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  //background-image url(../img/thumb.png)
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: lightgrey;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: lightgrey;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  //box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  //border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  //background-image url(../img/thumb.png)
}
input[type=range]:focus::-ms-fill-lower {
  background: lightgrey;
}
input[type=range]:focus::-ms-fill-upper {
  background: lightgrey;
}
/*RANGE END*/


/*SLIDER*/

.slider {
  width: 100vw;
  height: 100vh;
}

.frame {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
}

.slides {
  display: inline-block;
}

.js_slide {
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 100vw;
}

.prev, .next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.next svg, .prev svg {
  width: 50px;
}
/*SLIDER END*/
